#courseProgresses-name {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

ol,
ul {
  padding-left: 0rem;
}

.btn {
  color: rgb(58, 58, 58);
  align-items: center;
  text-align: start;
  margin-bottom: 20px;
  font-size: 10px;
  width: 80%;
}

.course-item-name {
  list-style: none;
  font-size: 12px;
  text-align: start;
}

@media (min-width: 468px) {
  .btn {
    font-size: 12px;
    margin: 0 15px;
    margin-bottom: 20px;
  }
  .course-item-name {
    font-size: 18px;
    margin: 0 15px;
  }
}

@media (min-width: 768px) {
  .btn {
    font-size: 16px;
    margin-left: 30px;
  }
  .course-item-name {
    font-size: 18px;
    margin-left: 30px;
  }
}
