main {
  padding: 20px;
  margin: 15%;
  border-radius: 8px;
  border: #2c74b3 solid 12px;
}

body {
  background: #090d11;
  background: -webkit-linear-gradient(62deg, #090d11 0%, #0a2647 100%);
  background: linear-gradient(62deg, #090d11 0%, #0a2647 100%);
}
