.progress-course {
  font-size: 10px;
  margin-bottom: 0;
}

.alura-courses-progress {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progress-title {
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 10px;
}

.progress-bar {
  display: flex;
  height: 20px;
  width: 70%;
  border-radius: 10px;
}

.progress-bar::-webkit-progress-bar {
  background-color: rgb(124, 124, 124);
}
.progress-bar::-webkit-progress-value {
  background-color: rgb(70, 159, 206);
  border-radius: 10px;
}

@media (min-width: 768px) {
  .progress-course {
    text-transform: uppercase;
    font-size: 14px;
  }
  .progress-title {
    text-transform: uppercase;
    font-size: 1.4rem;
  }
  .progress-bar {
    height: 30px;
  }
}
