.bgAnimation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350%;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background-color: #1d1d1d;
  filter: saturate(2);
  overflow: hidden;
}

.backgroundAnim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #00bfff;
  filter: blur(30px);
  -webkit-animation: aniBack 10s linear infinite;
  animation: aniBack 6s linear infinite;
}

.bgAnimation .colorBox {
  z-index: 2;
  filter: brightness(1.1);
  transition: 2s ease;
  position: relative;
  margin: 4px;
  background: #1d1d1d;
}

.bgAnimation .colorBox:hover {
  background: #00bfff;
  transition-duration: 0s;
}

@-webkit-keyframes aniBack {
  0% {
    top: -220px;
  }

  100% {
    top: 120%;
  }
}

@media (min-width: 1280px) {

  .bgAnimation {
    height: 400%;
  }
  
}
